<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<html lang="en">
<head>
  <meta meta th:charset="UTF-8"/>
  <title>Users</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>User</tr>
  </thead>
  <tbody>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>email</th>
  </tr>
  <tr th:each="user : ${usersList}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <a th:href="@{'/update/'+${user.id}}">edit</a>
      <a th:href="@{'/delete/'+${user.id}}">delete</a>
    </td>
  </tr>
  </tbody>
</table>
<h2>Add user</h2>
<a th:href="@{'/add'}">Add new user</a>
</body>
</html>